<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <!-- <title>Home page</title> -->
</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Veronica's Lab Finder</h1>
        </div>
    </div>
    <%- include(`./nav.ejs`)%>
    <h2>Do you know your lab type or Tube Color?</h2>
    <div class="grid-container">
            <a href="#">                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="knowlab , grid-item">I Know My lab Type</div>
            </a>
        
            <a href="/colors/purple">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="purple , grid-item">Purple</div>
            </a>
            <a href="/colors/green">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="green , grid-item">Green</div>
            </a>
            <a href="/colors/red">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="red , grid-item">Red</div>
            </a>
            <a href="/colors/blue">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="blue , grid-item">Blue</div>
            </a>
            <a href="/colors/sst">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="sst , grid-item">Serum Separator Tube</div>
            </a>
            <a href="/colors/swab">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="swab , grid-item">SWAB</div>
            </a>
        
    </div>

</body>

</html>