<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>View all specimens</title>
</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Veronica's Lab Finder</h1>
        </div>
    </div>
    <%- include(`../nav.ejs`)%>
    <h2>Specimen Tests:</h2>

    <ol>
        <% specimens.forEach(function(specimen) { %>
        <li>
            <h2><%= specimen.test %> </h2>
            <br>
            <h3>Test Color(s):</h3>
            <% specimen.collectionColor.forEach(function(col) {%> 
                <h3><%= col %></h3>
                <% }); %>
                <br>
                <h3>Serum Separator Tube: <%= specimen.serumTube ? 'Yes' : 'No' %></h3>
                <br>
                <!-- <form action="/specimens/%=specimen._id%>?_method=DELETE" method="POST">
                    <input class ='btn' type="submit" value="DELETE">
                </form>
                <form action="/specimens/%=specimen._id%>/edit">
                    <input class ='btn' type="submit" value="Edit">
                </form> -->
        </li>
        <% }); %>
    </ol>
</body>

</html>