<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Lab test</title>
</head>
<body>
    <h1>Add New Lab test</h1>
    <a href="/">home</a>

    <form action="/specimens/new" method="post">
        Test: <input type="text" name = "test">
        Tube Color(s): <input type="text" name= 'collectionColor' placeholder="seperate multiples by ,">
        <input type="submit" value = "Add to Database">
    </form>

</body>
</html>