<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Green</title>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Veronica's Lab Finder</h1>
        </div>
    </div>
    <%- include(`../nav.ejs`)%>
    <h2 class="green-txt">YOU PICKED GREEN</h2>
    <h3>Labs Attached to this color are:</h3>
    <ol>
        <%greens.forEach(function(green){%>
            <li>
                <h3><%= green.test %> </h3>
            </li>
        <%}) %>
    </ol>
</body>
</html>