<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Swab</title>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Veronica's Lab Finder</h1>
        </div>
    </div>
    <%- include(`../nav.ejs`)%>
    <h2>YOU PICKED SWAB</h2>
    <h3>Labs Attached to this are:</h3>
    <ol>

    </ol>
</body>
</html>